@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Models;

@{
    ViewBag.Title = "ApplicantDashboard";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";

}
<script src="~/Scripts/App/Masters/ApplicantPlotRegistration.js"></script>
<link href="~/styles/style.css" rel="stylesheet" />
<section class="form">
    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">
        <div class="container">
            <div class="row justify-content-center mt-0" style="padding:30px 20px" >
                <div class="col-sm-12 col-xs-12">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">                       
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <form>
                                    <div class="form-card">
                                        <h2 class="fs-title">Payment Details</h2>
                                        <div class="col-sm-12 col-xs-12" style="padding:20px 0px;">
                                            <div class="row">
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="nameOfApplicant" class="text-uppercase">
                                                        Name of the applicant
                                                        <span class="required-field"></span>
                                                    </label>
                                                    <input name="nameOfApplicant" id="nameOfApplicant" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="applicantNumber" class="text-uppercase">
                                                        Applicant Number
                                                        <span class="required-field"></span>
                                                    </label>
                                                    <input name="applicantNumber" id="applicantNumber" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="allotmentNumber" class="text-uppercase">
                                                        Allotment Number
                                                        <span class="required-field"></span>
                                                    </label>
                                                    <input name="allotmentNumber" id="allotmentNumber" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="areaToBeUsedForProject" class="text-uppercase">
                                                        Area to be used for project
                                                        <span class="required-field"></span>
                                                    </label>
                                                    <input name="areaToBeUsedForProject" id="areaToBeUsedForProject" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="file" class="sr-only">Detailed Project Report of the New Project (Self attested)<span class="required-field"></span></label>
                                                    <div class="input-group">
                                                        <input type="text" name="detailOfProject" class="form-control" placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn btn-default upload_btn_cl custom-file-uploader">
                                                                <input type="file" id="detailOfProjectFileName" name="detailOfProjectFileName" onchange="this.form.detailOfProjectFileName.value = this.files.length ? this.files[0].name : ''" />
                                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp; Select file
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="effluentIsMore" class="text-uppercase">Effluent discharged by the new project is more than the old project<span class="required-field"></span></label>
                                                    <select name="effluentIsMore" id="effluentIsMore" class="form-control"></select>

                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="file" class="sr-only">NOC from the pollution control board</label>
                                                    <div class="input-group">
                                                        <input type="text" name="nocOfProject" class="form-control" placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn btn-default upload_btn_cl custom-file-uploader">
                                                                <input type="file" id="nocOfProjectFileName" name="nocOfProjectFileName" onchange="this.form.nocOfProjectFileName.value = this.files.length ? this.files[0].name : ''" />
                                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp; Select file
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="usertype" class="text-uppercase">Provisional SSI registration/ IEM submitted to SIA</label>
                                                    <input name="ssiRegistration" id="ssiRegistration" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="isEmissionToSurrounding" class="text-uppercase">Obnoxious gas emission detrimental to surroundings	</label>
                                                    <select name="isEmissionToSurrounding" id="isEmissionToSurrounding" class="form-control"></select>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="file" class="sr-only">Duly signed and notarized for the points which he has acknowledged</label>
                                                    <div class="input-group">
                                                        <input type="text" name="notarizedPoint" class="form-control" placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn btn-default upload_btn_cl custom-file-uploader">
                                                                <input type="file" id="notarizedFileName" name="notarizedFileName" onchange="this.form.notarizedFileName.value = this.files.length ? this.files[0].name : ''" />
                                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp; Select file
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="file" class="sr-only">Upload Signature</label>
                                                    <div class="input-group">
                                                        <input type="text" name="uploadSignature" class="form-control" placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn btn-default upload_btn_cl custom-file-uploader">
                                                                <input type="file" id="uploadSignatureFileName" name="uploadSignatureFileName" onchange="this.form.uploadSignatureName.value = this.files.length ? this.files[0].name : ''" />
                                                                <i class="fa fa-file-image-o" aria-hidden="true"></i> &nbsp; Select file
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="file" class="sr-only">Upload Photograph</label>
                                                    <div class="input-group">
                                                        <input type="text" name="uploadPhotograph" class="form-control" placeholder="No file selected" readonly>
                                                        <span class="input-group-btn">
                                                            <div class="btn btn-default upload_btn_cl custom-file-uploader">
                                                                <input type="file" id="photographFileName" name="photographFileName" onchange="this.form.photographFileName.value = this.files.length ? this.files[0].name : ''" />
                                                                <i class="fa fa-file-image-o" aria-hidden="true"></i> &nbsp; Select file
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="amountPaid" class="text-uppercase">Amount Paid <span class="required-field"></span></label>
                                                    <input name="amountPaid" id="amountPaid" class="form-control" />
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="transactionNumber" class="text-uppercase">Transaction Number </label>
                                                    <input name="transactionNumber" id="transactionNumber" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <input type="button" id="btnDetailSave" name="next" class="next action-button pull-right" value="Save" />
                                        <input type="button" id="btnCancel" name="next" class="next action-button pull-right" value="Cancel" style="margin-right:2rem" />
                                    </div>

                                </form>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav li.active').removeClass('active');
        $('[href="/Applicant/Project"]').parent().addClass('active')
    });
</script>