@using DataLayer;
@using GidaGkpWeb.Models;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var UserDataModel = ViewData["UserDetail"] as List<ApplicationUserModel>;
    int index = 1;
}

<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/PlotMaster.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<div class="container">
    <div class="col-sm-12 col-xs-12" style="padding:10px 0 10px 0; margin-bottom: 50px; border-bottom:1px solid rgb(170, 170, 170);">
        <h3 style="font-size:18px; padding-top: 13px;"> List of selected candidates after interview  </h3>
    </div>
    <div class="col-sm-12 col-xs-12" style="padding: 0px;">
        @*<div class="row">
            <div class="form-group col-sm-4 col-xs-12">
                <label for="usertype">Scheme Type<span class="required-field"></span></label>
                <select name="SchemeType" id="SchemeType" class="form-control"></select>
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="usertype">Scheme Name<span class="required-field"></span></label>
                <select name="SchemeName" id="SchemeName" class="form-control"></select>
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="usertype">Sector Name<span class="required-field"></span></label>
                <select name="SectorName" id="SectorName" class="form-control"></select>
            </div>
        </div>*@
        <div class="table-responsive" style="padding:10px 0 0px 0;">
            <table class="table table_css_main_cl table-bordered">
                <tr>
                    <th class="text-center">S.No.</th>
                    <th class="text-center">Name of Candidate</th>
                    <th class="text-center">Application Number</th>
                    <th class="text-center">Plot No </th>
                    <th class="text-center">Interview Result </th>
                    <th class="text-center">Action</th>
                </tr>
                @foreach (var data in UserDataModel)
                {
                    <tr>
                        <td class="text-center">@index</td>
                        <td class="text-center">@data.FullName</td>
                        <td class="text-center">@data.ApplicationNumber</td>
                        <td class="text-center">@data.PlotNumber</td>
                        <td class="text-center"><select><option>Selected </option> <option>Waiting </option> <option>Rejected </option></select></td>
                        <td class="text-center">
                            <a style="background-color: green; color: white;" class="btn btn-success"
                               href="/Admin/SendMailtoApplicantForInterviewResult?applicationId=@data.ApplicationId">
                                <i class="fa fa-envelope" aria-hidden="true"></i>Send
                            </a>
                        </td>
                    </tr>
                    index++;
                }
            </table>
        </div>
        <div class="col-sm-12 col-xs-12" style="padding:0px 0 20px 0;">
            <button type="button" class="pull-right addCommittee_btn">Sumbit</button>
        </div>
    </div>
</div>
