@using DataLayer;
@using GidaGkpWeb.Models;

@{
    ViewBag.Title = "LeaseddeedNotesheet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var UserData = ViewData["UserData"] as List<GidaUserModel>;
    int index = 1;

}
<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/AdminLookup.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<script src="~/Scripts/App/Masters/LeaseDeedDetailsjs"></script>



<div class="container">

    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3 style="font-size:18px;">Making the Note Sheet   </h3>
            <hr />
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Name of the Applicant</label>
            <input type="text" name="ApplicantName" id="ApplicantName" class="form-control" readonly>

        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Plot Number</label>
            <input type="text" name="Plotnumber" id="Plotnumber" class="form-control" readonly>

        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Sector Name</label>
            <input type="text" name="SectorName" id="SectorName" class="form-control" placeholder="10" readonly>

        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Plot Area</label>
            <input type="text" id="PlotArea" name="PlotArea" class="form-control" readonly>

        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <label for="user" class="">Applicant’s Address</label>
            <input type="text" id="Applicantadress" name="Applicantadress" class="form-control" readonly>

        </div>


        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Earnest Money Paid </label>
            <input type="text" name="EarnestMoneyPaid" id="EarnestMoneyPaid" class="form-control" readonly>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class=""> Earnest Money Challan Number </label>
            <input type="text" id="EarnestMoneyChallanNumber" name="EarnestMoneyChallanNumber" class="form-control" readonly>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class=""> Allotment Money Paid </label>
            <input type="text" id="AllotmentMoneyPaid" name="AllotmentMoneyPaid" class="form-control" readonly>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <label for="user" class="">Verification of the 10% of total Premium being equal to Earnest Money Deposit and Allotment Money </label>
            <input type="text" id="VerifyTotalPremium" name="VerifyTotalPremium" class="form-control" placeholder="15000" readonly>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class=""> Stamp Value </label>
            <input type="text" id="StampValue" name="StampValue" class="form-control" placeholder="5000" readonly>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Bank Guarantee Challan Number for the Stamp Value</label>
            <input type="number" Id="BankgChallanNumber" name="BankgChallanNumber" class="form-control" readonly>
        </div>
        <div class="form-group col-sm-12 col-xs-12">
            <label for="user" class="">Name of the entity on behalf of the Applicant, which has purchased the stamp papers and take the bank guarantee.</label>
            <input type="text" class="form-control" id="EntityName" name="EntityName" readonly>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Stamp Value Bank Guarantee Challan Number</label>
            <input type="number" id="SvalueBankGchallanNumber" name="SvalueBankGchallanNumber" class="form-control" placeholder="89879" readonly>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Date of the bank guarantee.</label>
            <input type="date" id="BankGDate" name="BankGDate" class="form-control" placeholder="12/09/2021">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Address of the bank from which the guarantee has been taken.</label>
            <input type="text" id="BankAddress" name="BankAddress" class="form-control" placeholder="Address">
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Comments</label>
            <textarea id="ManagerComments" name="ManagerComments" class="form-control" placeholder="Address"></textarea>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Digital Signature of the Scheme Assistant </label>
            <input type="file" class="form-control" placeholder="">
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Digital Signature of the Manager Property/ General/ Admin </label>
            <input type="file" class="form-control" placeholder="">
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <label for="user" class="">Digital Signature of the Assistant Manager Finance </label>
            <input type="file" class="form-control" placeholder="">
        </div>



        <div class="col-sm-12 col-xs-12" style="padding:20px 15px 50px 15px;">
            <button type="button" class="submit_plot_master" value="button">Submit</button>
            <button type="button" class="cancel_plot_master" value="button">Cancel</button>

        </div>

    </div>

</div>
