@using DataLayer;
@using GidaGkpWeb.Models;
@using GidaGkpWeb.Global
@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Infrastructure.Utility;
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/SchemeWiseApplicationList.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<style>
    button.submit_plot_master353 {
        background: #ff2e2e;
        color: #fff;
        border: 0px;
        padding: 3px 10px;
        font-size: 12px;
        text-align: center;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-sm-12 col-xs-12 text-left" style="padding-bottom: 30px;">
            <h3 style="font-size:18px;">Total Application List </h3>
            <hr />
        </div>

        <div class="form-group col-sm-3 col-xs-12">
            <label for="usertype">Scheme Type<span class="required-field"></span></label>
            <select name="SchemeType" id="SchemeType" class="form-control"></select>
        </div>
        <div class="form-group col-sm-3 col-xs-12">
            <label for="usertype">Scheme Name<span class="required-field"></span></label>
            <select name="SchemeName" id="SchemeName" class="form-control"></select>
        </div>
        @*<div class="form-group col-sm-3 col-xs-12">
                <label for="usertype">Sector Name<span class="required-field"></span></label>
                <select name="SectorName" id="SectorName" class="form-control"></select>
            </div>*@

        <div class="form-group col-sm-1 col-xs-12">
            <button type="button" class="submit_plot_master" value="button" style=" margin-top: 23px;" id="btnSearchTransactionCompleted">Search</button>
        </div>

        <div class="col-sm-12 col-xs-12">
            @if (hasPermissionOnPage("Scheme Wise Applicant List - Application Status")
                                                    && (hasPermission(PermissionName.AllAccess)))
            {
                <input type="hidden" value="true" id="hiddenHasPermission" />
            }
            else
            {
                <input type="hidden" value="false" id="hiddenHasPermission" />
            }

            <div class="table-responsive" style="padding:10px 0 40px 0;">
                <table class="table table_css_main_cl table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">S.No.</th>
                            <th class="text-center">Application Number</th>
                            <th class="text-center">Applicant Name</th>
                            <th class="text-center">Mobile</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyData">
                        @*<tr>
                                <td class="text-center">1</td>
                                <td class="text-center"><a href="#" data-toggle="modal" data-target="#myModal">948584 </a></td>
                                <td>Vijay Kumar</td>
                                <td class="text-center">+91 0000 000 000 </td>
                                <td class="text-center"> <a href="/Admin/ApplicationStatusPA">Application Status</a></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>



    </div>

</div>
