@using DataLayer;
@using GidaGkpWeb.Models;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //var UserDataModel = ViewData["UserDetail"] as List<ApplicationUserModel>;
    //int index = 1;
}
<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/ApplicantAllotmentReport.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<style>
    button.submit_plot_master353 {
        background: #ff2e2e;
        color: #fff;
        border: 0px;
        padding: 3px 10px;
        font-size: 12px;
        text-align: center;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-sm-12 col-xs-12 text-left" style="padding-bottom: 30px;">
            <h3 style="font-size:18px;">Rejected Candidate Report</h3>
            <hr />
        </div>

        <div class="form-group col-sm-3 col-xs-12">
            <label for="usertype">Scheme Type<span class="required-field"></span></label>
            <select name="SchemeType" id="SchemeType" class="form-control"></select>
        </div>
        <div class="form-group col-sm-4 col-xs-12">
            <label for="usertype">Scheme Name<span class="required-field"></span></label>
            <select name="SchemeName" id="SchemeName" class="form-control"></select>
        </div>
        @*<div class="form-group col-sm-4 col-xs-12">
                <label for="usertype">Sector Name<span class="required-field"></span></label>
                <select name="SectorName" id="SectorName" class="form-control"></select>
            </div>*@

        <div class="form-group col-sm-1 col-xs-12">
            <button type="button" class="submit_plot_master" value="button" style=" margin-top: 23px;" id="btnSearchRejected">Search</button>
        </div>

        <div class="form-group col-sm-2 col-xs-12">
            @using (Html.BeginForm("ExportRejectedApplicant", "Report", FormMethod.Post))
            {
                <input type="hidden" name="GridHtml" />
                <input type="submit" id="btnSubmit" class="submit_plot_master" value="Download PDF" style=" float: right; position: relative; margin-top: 23px;" />
            }
        </div>

        <div class="col-sm-12 col-xs-12" id="divExport">
            <div class="col-sm-12 col-xs-12 text-left hidden" id="divReportTitle" style="padding-bottom: 30px;">
                <h3 style="font-size:18px;">Rejected Candidate Report</h3>
            </div>
            <div class="table-responsive" style="padding:10px 0 40px 0;">
                <table class="table table_css_main_cl table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">S.No.</th>
                            <th class="text-center">Name of Candidate</th>
                            <th class="text-center">Application Number</th>
                            <th class="text-center">Plot No </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyData">
                    </tbody>
                </table>
            </div>
        </div>



    </div>

</div>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $('#divReportTitle').removeClass('hidden');
            $("input[name='GridHtml']").val($("#divExport").html());
            $('#divReportTitle').addClass('hidden');
        });
    });
</script>